<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haier.dao.ContentMapper">

    <sql id="SELECT_CLOUMN">
        id AS id,
        version AS version,
        city AS city,
        entry_time AS entryTime,
        `type` AS type,
        content AS content,
        status AS status,
        remark AS remark,
        category_id AS categoryId,
        createdTime AS createdTime,
        isDeleted AS isDelete
    </sql>


    <insert id="addNewContent">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="city != null">
                city,
            </if>
            <if test="entryTime != null">
                entry_time,
            </if>
            <if test="type != null">
                `type` ,
            </if>
            <if test="content != null">
                content ,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="city != null">
                #{city},
            </if>
            <if test="entryTime != null">
                #{entryTime},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="categoryId != null">
                #{categoryId},
            </if>
        </trim>

    </insert>

    <update id="updDelByVersion">
        UPDATE content
        SET isDeleted = 1,
            deletedTime = NOW()
        where
          version = #{version}
    </update>


    <update id="updVersionById">
        UPDATE content
        SET version = #{id}
        where
          id = #{id}
    </update>

    <update id="updContentByVersion">
        update content
        <set>
            <if test="updEn.city != null">
                city = #{updEn.city,jdbcType=VARCHAR},
            </if>
            <if test="updEn.entryTime != null">
                entry_time = #{updEn.entryTime},
            </if>
            <if test="updEn.type != null">
                `type` = #{updEn.type},
            </if>
            <if test="updEn.content != null">
                content = #{updEn.content},
            </if>
            <if test="updEn.remark != null">
                remark = #{updEn.remark},
            </if>
            <if test="updEn.status != null and updEn.status > 0">
                status = #{updEn.status},
            </if>
            <if test="updEn.categoryId != null">
                category_id = #{updEn.categoryId},
            </if>
            <if test="updEn.updatedTime != null">
                updatedTime = #{updEn.updatedTime}
            </if>
        </set>
        where version =#{version}
    </update>

    <select id="findSingleContentByVersion" resultType="com.haier.model.ContentEntity">
        SELECT
        <include refid="SELECT_CLOUMN"/>
        FROM content
        WHERE version =#{version}
    </select>

    <select id="findContentsBy" resultType="com.haier.model.ContentEntity">
        SELECT
        <include refid="SELECT_CLOUMN"/>
        FROM content
        <where>
            <if test="findEn.id != null">
                AND id = #{findEn.id}
            </if>
            <if test="findEn.city != null">
                AND city = #{findEn.city}
            </if>
            <if test="findEn.entryTime != null">
                AND entry_time = #{findEn.entryTime}
            </if>
            <if test="findEn.type != null">
                AND type = #{findEn.type}
            </if>
            <if test="findEn.status != null">
                AND status = #{findEn.status}
            </if>
            <if test="findEn.isDelete != null">
                AND isDeleted = #{findEn.isDelete}
            </if>
            <if test="findEn.searchAttr != null and findEn.searchAttr != ''">
                AND (city like #{findEn.searchAttr} OR entry_time LIKE #{findEn.searchAttr} OR type LIKE #{findEn.searchAttr})
            </if>
        </where>
        <if test="findEn.orderClause != null and findEn.orderClause != ''">
            ORDER BY ${findEn.orderClause}
        </if>
        <if test="findEn.startRow != null and findEn.startRow > -1 and findEn.pageSize != null and findEn.pageSize > 0">
            LIMIT #{findEn.startRow,jdbcType=INTEGER}, #{findEn.pageSize,jdbcType=INTEGER}
        </if>
    </select>
    <select id="countBy" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM content
        <where>
            <if test="findEn.id != null">
                AND id = #{findEn.id}
            </if>
            <if test="findEn.city != null">
                AND city = #{findEn.city}
            </if>
            <if test="findEn.entryTime != null">
                AND entry_time = #{findEn.entryTime}
            </if>
            <if test="findEn.status != null">
                AND status = #{findEn.status}
            </if>
            <if test="findEn.isDelete != null">
                AND isDeleted = #{findEn.isDelete}
            </if>
            <if test="findEn.searchAttr != null and findEn.searchAttr != ''">
                AND (city like #{findEn.searchAttr} OR entry_time LIKE #{findEn.searchAttr})
            </if>
        </where>
    </select>
    <select id="listCategory" resultType="com.haier.model.CategoryEntity">
        SELECT
        id,
        category_type AS categoryType,
        category_name AS categoryName
        FROM
        `category`
        <where>
            isDeleted = 0
            <if test="categoryType != null and categoryType > 0">
                AND category_type = #{categoryType}
            </if>
        </where>
        ORDER BY
        sort
    </select>


</mapper>